body{
    background-color: rgba(0, 0, 0, 0.8);
    font-family: times !important;
}

.titulo{
    color: white;
    margin: 0;
    text-align: center;
}

#select{
    padding: 2px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    margin-top: 10px;
}

option{
    background-color: rgba(0, 0, 0, 0.8);
}

input{
    color: white;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 10px;
    border-color: white;
    font-family: times;
}

input#nome{
    width: 80%;
}

input#nota{
    width: 30%;
}

.resultado{
    text-align: center;
    color: white;
    margin-top: 215px;
}

.erro{
    font-size: 16px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 215px;
}

.table{
    text-align: right;
    width: fit-content;
    height: relative;
    margin: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    border: double white;
    padding: 20px;
    border-radius: 5px;
}

.buttonFechar{
    padding-right: 10px;
    padding-left: 10px;
    border: white double ;
}

table, th, td{
    border: 1px solid white;
    color: white;
    margin: auto;
    margin-top: 20px;
    width: 250px;
}

table{
    border-radius: 5px;
}

th, td{
    padding: 10px;
    text-align: center;    
}

td.nome{
    padding: 5px;
    padding-right: 10px;
    text-align: left;    
}

button{
    font-family: times;
    background-color: transparent;
    padding: 5px;
    border: solid white 1px;
    border-radius: 5px;
    color: white;
}

button#salvar{
    margin-top: 15px;
    width: 30%;
    margin-left: 35%;
}

button#mostrar{
    margin-left: 5px;
}

.corpo{
    width: 300px;
    height: relative;
    border: solid white 1px;
    margin: auto;
    position: relative;
    top: 190px;
    padding: 10px;
    border-radius: 10px;
}

.bottom{
    margin-top: 15px;
    border-top: solid white 1px;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.7);  
}